
/* ....................................................................... */

div#nocontent {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    width: 600px;
    height: 200px;
    top: 200px;
    left: 200px;
    background: #C3B091;
    border: solid 2px #a00;
    border-radius: 8px;    
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;    
    text-align: center;
    vertical-align: center;
    padding: 12px;
}

div#nocontent h1 {
    margin: 1em;
    color: red;
    font-size: 24px;
    font-weight: bold;
}

/* ....................................................................... */
/* Movie details panel */
/*
div#movieInfo {
    position: relative;
    right: 4px;
    cursor: text;
    width: 300px;
    z-index: 1000;
    background: #E5E4D6;
    border: solid 1px #aaa;
    border-radius: 8px;    
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;    
    padding: 4px;
    text-align: right;
}

div#movieInfo div#cover {
    text-align: left; 
    height: 300px;
}

div#movieInfo div.t {
    font-size: 14px;
    font-weight: bold;
}

div#movieInfo img.cover {
    margin-bottom: 6px;
    position: absolute;
    right: 3px;
}

div#movieInfo img.action {
    cursor: pointer;
    position: absolute;
}

div#movieInfo div.f {
    border-top: 1px dotted #8E5981;
    margin-bottom: 3px;
    margin-top: 3px;
}

div#movieInfo span.d {
    font-weight: bold;
}

div#movieInfo span.c {
    font-style: italic;
}

div#movieInfo span.l {
    font-size: 11px;
    color: #24553E;
    font-variant: small-caps;
}
*/

.context-menu {
  position: absolute;
  display: none;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  min-width: 150px;
  border: 1px solid #d4d4d4;
  z-index:1200;
}

/* ....................................................................... */
/* SVG elements */

circle {
    cursor: crosshair;
    /*fill: #EBC763;*/
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: #bbb;
}

/* ....................................................................... */
/* Graph labels */

g.gLabel {
    font: 10px sans-serif;
    font-weight: normal;
    visibility: hidden;
}

g.on {
    visibility: visible;    
}

g.zoomed {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    color: #000;
    border: none;
    z-index: 0;
}

text {
    font: 10px sans-serif;
    font-weight: normal;
    stroke-opacity: 1.0;
}

text.textlegendElement {
  font-size: 16px;
}

text.nlabel {
    /*stroke: #000000;*/
}

text.nshadow {
    stroke: #fff;
    stroke-width: 3px;
    /*stroke-opacity: 0.5;*/
    /*visibility: hidden;*/
}

text.main {
    font: 12px sans-serif;
    font-weight: bold;
}

